
/* ================================= 
  Base Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f4f6f7;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 0;
}
/* ================================= 
  Base Layout Styles
==================================== */
#con {
    margin-top: 10px;
}

.main-header {
    width: 100%;
    text-align: center;
    background: #fff;
    min-height: 30px;
    padding: 0px;
    /* position: fixed; */
    top: 0;
}

.main-header ul {
    padding: 0;    
}

.name {
        margin: 0;
        padding: 0;
        text-align: center;    
}

.profile-image {
    /* margin: 0px 0 auto; */
    padding: 20px;

}

.main-nav {
    font-size: .95em;
    color: black;
    text-transform: uppercase;
    list-style-type: none;
    margin-top: 5px;
}

.name a, 
.main-nav a
/* .footer-nav a */ {
    display: block;
    padding: 10px 15px;
    color: black;
}

.name-2 a {
    float: left;
    /* display: inline; */
    color: black;
}

.main-footer {
    /* width: 100%; */
    /* text-align: center; */
    padding: 10px;
    color: black;
    text-transform: uppercase;
    display: inline;
}

.footer-nav {
    float: right;
    color: black;
}

.contact li{
    padding: 5px;
}
/* ---- Layout Containers ---- */

.main-header,
.main-footer {
    /* padding-top: .5em; */
    /* padding-bottom: .5em; */
    margin-top: auto;
}

.cards {
    margin: 20px;
    padding-right: 0px;
    text-align: center;
}

.banner {
    padding: 3.2em 0;
    padding-top: 5px;
    margin-bottom: 5px;
}

#top {
    margin: 0px;
    padding-top: 10px;
}

.portfolio {
    text-align: center;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.container2 {
    display: inline;
}

.footer-full {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }
  
    .profile-image {
        margin-top: 40px;
        display: inline-block;
        float: right;
    }

    .name {
        width: 100%;
    }

    /* .main-nav {
        display: inline-block;
    } */

    #top {
        display: inline-block;
    }

    .tagline {
        margin-top: 60px;
        width: 60%;
        padding: 2%;
    }

    .name,
    .card,
    .name2 
    {
        float: left;
    }

    .main-footer,
    .container2 {
        display: inline;
        width: 100%;
    }

    /* .main-nav, */
    .footer-nav {
        float: right; 
    }

    .main-nav li,
    .footer-nav li {
        display: inline-block;
        margin-left: 15px; 
    }

    .tagline {
      font-size: 1.4em;
    }

    .card {
        width: 50%;
        padding: 15px;
    }

    .footer-full {
        display: inline-block;
    }

    .footer-short {
        display: none;
    }
}

@media (min-width: 1024px) {

    .container {
        width: 100%;
        max-width: 1150px;
    }

    .name {
        width: 60%;
        float: left;
        padding-right: 200px;
    }

    .main-nav {
        display: inline-block;
        width: 40%;
        float: right;
    }

    .card {
        width: 30%;
        padding: 15px;
    }
}

